<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp120211008130314.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a4f7a991-957b-4c3e-b02d-bd2abe68211e/resourcegroups/learn-0af3ac61-bc0f-4e01-82c8-9a17a24b42a3/providers/Microsoft.Web/sites/FunctionApp120211008130314</ResourceId>
    <UserName>$FunctionApp120211008130314</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionapp120211008130314.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>